.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

.profile__title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.profile__list {
  display: flex;
}

.profile__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
  cursor: pointer;
}

.profile__item img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.profile__item span {
  font-size: 1.5rem;
}
